* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  height: 100vh;
}
