@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.877));
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);
  font-family: 'Poppins', sans-serif;
  color: white;
  bottom: 0;
}
